.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  /*background-image: url('./img/background.jpg');*/
  background-size: contain;
  background-repeat: no-repeat;

  img {
    width: 100%;
    height: auto;
  }

  .inner-element {
    transform: translateZ(40px) scale(0.8);
    margin-left: 25%;
  }
}