.Contact_footer {
  align-self: center;
  color: var(--font-third);
  font-size: 1.4rem;
}

.ColorSelect_colorButton {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  position: relative;
  width: 30px;
}


.Settings_settingsContainer {
  background: var(--color-primary);
  top: 19.3%;
  left: 430px;
  position: absolute;
  padding: 15px;
  border-radius: 50px;
  gap:35px;
}


.ColorSelect_orange {
  background: #f57722;
}

.ColorSelect_yellow {
  background: #f8dc6c;
}

.ColorSelect_blue {
  background: #3498db;
}

.ColorSelect_red {
  background: #e74c3c;
}

.ColorSelect_purple {
  background: #9b59b6;
}

.ColorSelect_green {
  background: #27ae60;
}

.ColorSelect_pink {
  background: #e91e63;
}



.ColorSelect_colorSelect{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Contact_subheader {
  padding-top: 0;
  color: var(--font-secondary);
  font-size: 1.6rem;
}
.Contact_img {
  align-self: center;
  background: var(--color-description);
  border-radius: 25px;
  max-width: 350px;
  transition: background-color .2s ease-in-out;
  width: 100%;
}
.Contact_ctaSection {
  align-items: stretch;
  flex: 1 1;
  flex-direction: column;
  min-width: 300px;
}
.Contact_socialIcon {
  align-items: center;
  border: 1px solid var(--font-third);
  border-radius: 50%;
  color: var(--font-third);
  cursor: pointer;
  display: flex;
  font-size: 4.8rem;
  height: 50px;
  justify-content: center;
  padding: 10px;
  transition: all .1s ease-in-out;
  width: 50px;
}
.Contact_locationSection
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.Contact_buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  p {
    margin: 0;
    padding: 0;
  }
  button {
    height: 55px; 
    align-self: stretch; 
  }
}

.Contact_header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 5px;
}
.Contact_sectionsContainer {
  margin-top: 20px;
  align-self: center;
  display: flex;
  width: 100%;
  padding-left: 40px;
  justify-content: center;
}
.Contact_infoContainer {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.Contact_locationIcon{
  color: var(--font-secondary);
  display: flex;
  flex: 1 1;
  font-size: 4rem;
  justify-content: center;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.Contact_textSecondary {
  color: var(--font-secondary);
}
.Contact_infoSection {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.Contact_buttonHire:hover {
  background: transparent;
  color: var(--font-secondary);
  transition: all .1s ease-in-out;
}
.Contact_buttonHire {
  align-items: center;
  background: var(--font-secondary);
  border: 2px solid var(--font-secondary);
  border-radius: 50px;
  color: var(--font-tooltip);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: all .1s ease-in-out;
  width: 100%;
}

.Contact_buttonResume:hover {
  background: transparent;
  color: var(--font-secondary);
  transition: all .1s ease-in-out;
}

.Contact_buttonResume {
  align-items: center;
  background: var(--font-secondary);
  border: 2px solid var(--font-secondary);
  border-radius: 50px;
  color: var(--font-tooltip);
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
  gap: 20px;
  justify-content: center;
  padding: 5px;
  text-transform: uppercase;
  transition: all .1s ease-in-out;
  width: 100%;

}
.Settings_containerDesktop {
  flex-direction: row;
  height: 62px;
  left: 432px;
  position: fixed;
  top: 20%;
  z-index: 400;
}

.Settings_container{
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 66px;
}
.Contact_contact {
  background: var(--color-primary);
  align-items: flex-start;
  border: 1px solid var(--font-third);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  left: 40px;
  padding: 10px 55px 30px 35px;
  position: fixed;
  top: var(--top-padding);
  width: 406px;
  z-index: 100;
}



.orange {
  --font-secondary: #ff8c00;
  --font-tooltip: #dbdbdb;
  --color-description: #ff8c00;
  --font-description: #fff;
  --swiper-navigation-color: #ff8c00!important;
  --swiper-theme-color: #ff8c00!important;
}

.yellow {
  --font-secondary: #ffd700;
  --font-tooltip: #dbdbdb;
  --color-description: #ffd700;
  --font-description: #fff;
  --swiper-navigation-color: #ffd700!important;
  --swiper-theme-color: #ffd700!important;
}


.blue {
  --font-secondary: #0066cc;
  --font-tooltip: #dbdbdb;
  --color-description: #0066cc;
  --font-description: #fff;
  --swiper-navigation-color: #0066cc!important;
  --swiper-theme-color: #0066cc!important;
}

.red {
  --font-secondary: #f31313;
  --font-tooltip: #dbdbdb;
  --color-description: #f31313;
  --font-description: #fff;
  --swiper-navigation-color: #f31313!important;
  --swiper-theme-color: #f31313!important;
}

.purple {
  --font-secondary: #9c27b0;
  --font-tooltip: #dbdbdb;
  --color-description: #9c27b0;
  --font-description: #fff;
  --swiper-navigation-color: #9c27b0!important;
  --swiper-theme-color: #9c27b0!important;
}


.green {
  --font-secondary: #1dc275;
  --font-tooltip: #dbdbdb;
  --color-description: #1dc275;
  --font-description: #fff;
  --swiper-navigation-color: #1dc275!important;
  --swiper-theme-color: #1dc275!important;
}


.pink {
  --font-secondary: #ff69b4;
  --font-tooltip: #dbdbdb;
  --color-description: #ff69b4;
  --font-description: #fff;
  --swiper-navigation-color: #ff69b4!important;
  --swiper-theme-color: #ff69b4!important;
}

.darkmode {
  --color: 0,0%;
  --l: 12%;
  --color-primary: hsl(var(--color), var(--l));
  --color-primary-darker: hsl(var(--color), calc(var(--l) - 1%));
  --font-primary: #eaeaea;
  --font-dimmed: #383838;
  --swiper-navigation-color: #1dc275!important;
  --swiper-theme-color: #1dc275!important;
}

body {
  background: #fff;
  background: var(--color-primary);
  color: #404040;
  color: var(--font-primary);
  font-size: 1.6rem;
  font-size: var(--font-size-base);
  transition: all 0.1s ease-in-out;
}

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
}

:root {
  --swiper-navigation-size: 44px;
}

:root {
  --swiper-theme-color: #007aff;
}

:root {
  --swiper-navigation-color: #fff!important;
  --swiper-theme-color: #fff!important;
  --font-family-primary: "Inter", sans-serif;
  --font-size-base: 1.6rem;
  --space-between-sections: 4rem;
  --color: 0,0%;
  --l: 100%;
  --color-primary: hsl(var(--color), var(--l));
  --color-primary-darker: hsl(var(--color), calc(var(--l) - 10%));
  --color-secondary: #1dc275;
  --color-description: #0b9052;
  --font-primary: #404040;
  --font-secondary: #1dc275;
  --font-third: #727272;
  --font-tooltip: #4b4b4b;
  --font-dimmed: #c9c9c9;
  --top-padding: 50px;
  --spacing-xxl: 100px;
  --spacing-xl: 80px;
  --spacing-l: 50px;
  --spacing-m: 30px;
  --spacing-s: 20px;
  --spacing-xs: 10px;
  --mobile-l: 500px;
  --tablet-portrait: 768px;
  --tablet: 1024px;
  --desktop-s: 1200px;
  --desktop: 1366px;
  box-sizing: border-box;
  display: block;
}

html {
  background: #1f1f1f;
  font-size: 62.5%;
}
