
.Icon {
  padding: 0;
  margin: 0;
  z-index: 2000;
  scale: 1.6;
  padding-bottom: 1px;
 
}


.SettingIcon {
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  background: var(--color-primary);
  border: 1px solid var(--font-third);
  border-radius: 90px;
  border-right: none;
  left: 420px;
  padding: 15px 17px;
  position: fixed;
  top: 25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
* {
  box-sizing: border-box;
  font-family: Inter,sans-serif;
  font-family: var(--font-family-primary);
  margin: 0;
  padding-top: 0;
  scroll-behavior: smooth;
}

.SettingIcon:after, .SettingIcon:before {
  background: var(--color-primary);
  content: "";
  position: absolute;
  right: 0;
  width: 25px;
  z-index: 1;
}
.SettingIcon:before {
  height: 25px;
  top: -1px;
  z-index: 1;
}
.SettingIcon:after, .SettingIcon:before {
  background: var(--color-primary);
  content: "";
  position: absolute;
  right: 0;
  width: 25px;
  z-index: 1;
}
.SettingIcon:before {
  height: 25px;
  top: -1px;
  z-index: -1;
}

.SettingIcon:after {
  bottom: -1px;
  height: 22px;
  z-index: -1;
}

.SettingIcon:after, .SettingIcon:before {
  background: var(--color-primary);
  content: "";
  position: absolute;
  right: 0;
  width: 25px;
}

.SettingIcon:after, .SettingIcon:before {
  background: var(--color-primary);
  content: "";
  position: absolute;
  right: 0;
  width: 25px;
}



.VerticalNavbar_links {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 50px;
  justify-content: center;
  padding: 0 15px;
  width: 50px;
}