

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-stop: always;
    scroll-padding-top: 75px;
  height: 100%;
  
  
}




.background-svg {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-bottom: 300px;
  background-image: url('./assets/img/background.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transform-origin: top;

}



@media (max-width: 1200px) {
  .background-svg  {
   background-image: none;
  }

}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
 
 
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}





@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 100px;
	}
}



p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Banner Css ************/




@keyframes upDown {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


@keyframes upDownLaptop {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.98)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes scaleUpDownLaptop {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.99)
  }
  100% {
    transform: scale(1)
  }
}

.circle1 {
  animation: upDown 2s ease-in-out infinite;
  animation-delay: 0s;
  position: absolute;
}

.circle2 {
  animation: upDown 2s ease-in-out infinite;
  animation-delay: 0.5s;
  position: absolute;

}

.circle3 {
  animation: upDown 2s ease-in-out infinite;
  animation-delay: 1s;
  position: absolute;

}

.circle1shadow {
  animation: scaleUpDown 2s ease-in-out infinite;
  animation-delay: 0s;
  position: absolute;
}

.circle2shadow {
  animation: scaleUpDown 2s ease-in-out infinite;
  animation-delay: 0.5s;
  position: absolute;

}

.circle3shadow {
  animation: scaleUpDown 2s ease-in-out infinite;
  animation-delay: 1s;
  position: absolute;
}

.decoration {
  position: absolute;
  z-index: 1;
  animation: rotate 4s ease-in-out infinite;
}

.laptopImg {
  animation: upDownLaptop 3s ease-in-out infinite;
  position: "absolute";
  z-index: 1;
}


.laptopShadow {
  animation: scaleUpDownLaptop 3s ease-in-out infinite;
  position: "absolute";
  top: 0;
  left: "-15px";
  z-Index: 4 
}

@keyframes rotate {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(1deg) scale(0.99);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.content { margin-top: 200px;}
.banner {
  margin-top: 0;

  background: linear-gradient(to bottom, #6c1694, #8883ce);
  padding-left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  
  height: 100vh;
  margin-bottom: var(--parallax-movement); /* set margin-bottom to the parallax movement value */
}




body,
html{
      margin: 0;
      padding: 0;
      width: 100%;
}

@media (max-width: 768px) {
  html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}


@keyframes move-cloud {
  0% {
    transform: translate(80%, calc(var(--parallax-movement)));
    overflow-x: hidden;

  }
  100% {
    transform: translate(-60%, calc(var(--parallax-movement)));

  }
}
  


.layer-12 {
  overflow-x: hidden;
  position: absolute;
  --parallax-movement: 0;

  animation: move-cloud 20s linear infinite; /* adjust duration as needed */
  z-index: 2;


}

.layer-11 {
  overflow-x: hidden;
  position: absolute;
  z-index: 0.1;
  animation: move-cloud 30s linear infinite; /* adjust duration as needed */

  --parallax-movement: 0;

}

.layer-10 {
  position: absolute;
  animation: move-cloud 40s linear infinite; /* adjust duration as needed */
  z-index: 2;

}

.layer-9 {
  overflow-x: hidden;
  position: absolute;
  animation: move-cloud 50s linear infinite; /* adjust duration as needed */

}


.layer-7 {
  position: absolute;
  z-index: 1;
}

.layer-6 {
  position: absolute;
  z-index: 2;

}

.layer-5 {
  position: absolute;
  z-index: 3;

}
.layer-4 {
  position: absolute;
  z-index: 2;

}
.layer-3 {
  position: absolute;
  z-index: 5;

}
.layer-2 {
  position: absolute;
  z-index: 6;

}
.layer-1 {
  position: absolute;
  z-index: 7;

}

.parallax-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;


}

.parallax-image .landscape {
  width: 100%;
  height: 100%;
  

}

.parallax-image .landscape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-image .landscape img.layer-12,
.parallax-image .landscape img.layer-11,
.parallax-image .landscape img.layer-10,
.parallax-image .landscape img.layer-9 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease-out;

}



.banner .background-svg .tagline {
  margin-top: 4vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner .background-svg  h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  color:#bc33c9;
  display: block;
}
.banner .background-svg  p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 50%;
}
.banner .background-svg  button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner .background-svg  button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}





.txt-rotate > .wrap {
  border-right: 0.08em solid #030303;
}

/************ Skills Css ************/


.skill {
  padding: 150px 0px 150px 0;
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #0a031f, #0a031f);

}
.skill-bx {
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}


p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
table {
  width: 100%;
  margin: 0 auto;
  position: relative;
}



 button {
  margin: -2%;
  margin-bottom: auto;
}
.item {
  position: relative; /* Make the container relative to position the dot image */
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto; /* Center the element horizontally */

}
.item img {
  width: 50%;
  height: auto;
  margin: auto;
  object-fit: cover;
  max-height: 150px; /* Set the maximum height of the image */
  transition: transform 0.2s ease-in-out; /* Add a transition on transform property */
}
.item:hover img {
  transform: scale(1.2); /* Increase the scale on hover */
}
.item:hover h5 {
  transform: scale(1.2); /* Increase the scale on hover */
}
.item::after {
  content: ""; /* Add a new element for the dot image */
  display: none; /* Set its display to none */
  position: absolute;
  bottom: -40px; /* Position it under the item container */
  left: 50%;
  transform: translateX(-50%);
}
.item:hover::after {
  display: block; /* Display the dot image on hover */
}
.item:hover::after img {
  width: 20px; /* Set the width of the dot image */
  height: auto;
}

.item h5 {
  transition: transform 0.2s ease-in-out; /* Add a transition on transform property */

  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.dot .circle {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.item .dot {
  display: flex;
  justify-content: center; 
  position: absolute;
  bottom: -20px; /* set the initial position below the item */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* make the dot invisible by default */
  transition: all 0.2s ease-in-out; 
}

/* apply different colors to the dots */
table tr td:nth-child(1) .item .dot .circle:nth-child(-n+3) {
  background-color: red;
}
table tr td:nth-child(1) .item .dot .circle:nth-child(n+4) {
  background-color: blue;
}

table tr td:nth-child(2) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(2) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(3) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(3) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(4) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(4) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(5) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(5) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(6) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(6) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(7) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(7) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(8) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(8) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(9) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(9) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

table tr td:nth-child(10) .item .dot .circle:nth-child(-n+2) {
  background-color: red;
}
table tr td:nth-child(10) .item .dot .circle:nth-child(n+3) {
  background-color: blue;
}

.item:hover .dot {
  bottom: -14%; /* move the dot down on hover */
  opacity: 1; /* make the dot visible on hover */
}

.item:hover h5 {
  transform: translateY(20%);
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
